<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>WEDDING WATCH</title>
<meta name="description" content="ディスクリプションを入力">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styleSheet.css">
<link rel="stylesheet" href="/css/reset.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<!-- [endif] -->
</head>
<body>
<!----- header----->
<header>
    <h1>Bridal Watch特集</h1>
    <div class="main-menu">
        <i class="fas fa-bars fa-2x"></i>
    </div>
</header>
<!----- /header ----->
<!----- main ----->
<div class="top-contents">
    <h1>Bridal Watch</h1>
    <h2>AAAAAAAAAAAAA</h2>
</div>
<!----- /main ----->
<div class="middle-contents">
    <div class="select">
        <p>簡単な2択質問に答えるだけで<br>
        貴方(お相手)にピッタリな時計が見つかるかも？</p>
        <a href="/sindan" class="select-btn">診断する</a>
    </div>
</div>
<!----- footer ----->
<footer>
    <h2>株式会社sample</h2>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</footer>
<!----- /footer ----->
</body>
</html>