<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>WEDDING WATCH</title>
<meta name="description" content="ディスクリプションを入力">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/sample.css">
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/reset.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- [endif] -->
</head>
<body>
<!----- header----->
<header>
    <h1>Bridal Watch特集</h1>
    <div class="main-menu">
        <i class="fas fa-bars fa-2x"></i>
    </div>
</header>
<!----- /header ----->
<!----- main ----->
<div class="top-contents">
    <h1>Bridal Watch</h1>
    <h2>AAAAAAAAAAAAA</h2>
</div>
<!----- /main ----->
<div class="choose_box">
<script type="text/javascript" src="/list-app/app.js"></script>  
<div id="q_01" class="fit">
 <p>質問1</p>
<ul class="flexbox fw">
<li class="even"><a class="btn" href="#q_02">選択肢1</a></li>
<li class="odd"><a class="btn" href="#q_03">選択肢2</a></li>
<li class="odd"><a class="btn" href="#q_04">選択肢3</a></li>
<li class="odd"><a class="btn" href="#q_05">選択肢4</a></li>
</ul>
 </div>
 <!-- 最初の選択肢 -->
  
<div id="q_02" style="display: none;">
<p>質問2？</p>
<ul class="flexbox fw">
<li class="even"><a class="btn" href="#q_06">選択肢1-1</a></li>
<li class="odd"><a class="btn" href="#q_07">選択肢1-2</a></li>
</ul>
</div>
<!-- 次の選択肢 --> 
 
<div id="q_03" style="display: none;">
<p>質問2？</p>
<ul class="flexbox fw">
<li class="even"><a class="btn" href="#q_06">選択肢2-1</a></li>
<li class="odd"><a class="btn" href="#q_07">選択肢2-2</a></li>
</ul>
</div>
<!-- 次の選択肢 --> 
  
<div id="q_04" style="display: none;">
<p>質問2？</p>
<ul class="flexbox fw">
<li class="even"><a class="btn" href="#q_06">選択肢3-1</a></li>
<li class="odd"><a class="btn" href="#q_07">選択肢3-2</a></li>
</ul>
</div>
<!-- 次の選択肢 --> 
  
 <div id="q_05" style="display: none;">
<p>質問2？</p>
<ul class="flexbox fw">
<li class="even"><a class="btn" href="#q_06">選択肢4-1</a></li>
<li class="odd"><a class="btn" href="#q_07">選択肢4-2</a></li>
</ul>
</div>
<!-- 次の選択肢 -->
  
  
 <div id="q_06" style="display: none;">
        <p>あなたにおすすめなのは…</p>
        <h4>『答え①』です！！</h4>
   <span><a class="btn" href="#q_01">もどる</a></span>
</div>
 
<!-- 選択肢の答え① -->
  
  <div id="q_07" style="display: none;">
        <p>あなたにおすすめなのは…</p>
        <h4>『答え②』です！！</h4>
     <span><a class="btn" href="#q_01">もどる</a></span>
</div>
 
<!-- 選択肢の答え② -->
</div>

<!----- footer ----->
<footer>
    <h2>株式会社sample</h2>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</footer>
<!----- /footer ----->
<script type="text/javascript" src="/list-app/public/js/sample.js"></script>
</body>
</html>